@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-00-02AF-400.woff2) format('woff2');
  unicode-range: U+00-02af, U+02b0-036f, U+200c-200d;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-0370-2E7F-400.woff2) format('woff2');
  unicode-range: U+0370-2e7f, U+200c-200d, U+02b0-036f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-2E80-2FFF-400.woff2) format('woff2');
  unicode-range: U+2e80-2fff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3000-303F-400.woff2) format('woff2');
  unicode-range: U+3000-303f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3040-309F-400.woff2) format('woff2');
  unicode-range: U+3040-309f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-30A0-30FF-400.woff2) format('woff2');
  unicode-range: U+30a0-30ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3100-312F-400.woff2) format('woff2');
  unicode-range: U+3100-312f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3130-318F-400.woff2) format('woff2');
  unicode-range: U+3130-318f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3190-319F-400.woff2) format('woff2');
  unicode-range: U+3190-319f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-31A0-31BF-400.woff2) format('woff2');
  unicode-range: U+31a0-31bf;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-31C0-31EF-400.woff2) format('woff2');
  unicode-range: U+31c0-31ef;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-31F0-31FF-400.woff2) format('woff2');
  unicode-range: U+31f0-31ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3200-32FF-400.woff2) format('woff2');
  unicode-range: U+3200-32ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3300-33FF-400.woff2) format('woff2');
  unicode-range: U+3300-33ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-3400-4DBF-400.woff2) format('woff2');
  unicode-range: U+3400-4dbf;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-4E00-62FF-400.woff2) format('woff2');
  unicode-range: U+4e00-62ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-6300-77FF-400.woff2) format('woff2');
  unicode-range: U+6300-77ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-7800-8CFF-400.woff2) format('woff2');
  unicode-range: U+7800-8cff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-8D00-9FFF-400.woff2) format('woff2');
  unicode-range: U+8d00-9fff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-A000-A4CF-400.woff2) format('woff2');
  unicode-range: U+a000-a4cf;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-AC00-D7AF-400.woff2) format('woff2');
  unicode-range: U+ac00-d7af;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-D800-DFFF-400.woff2) format('woff2');
  unicode-range: U+d800-dfff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-20000-215FF-400.woff2) format('woff2');
  unicode-range: U+20000-215ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-21600-230FF-400.woff2) format('woff2');
  unicode-range: U+21600-230ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-23100-245FF-400.woff2) format('woff2');
  unicode-range: U+23100-245ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-24600-260FF-400.woff2) format('woff2');
  unicode-range: U+24600-260ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-26100-275FF-400.woff2) format('woff2');
  unicode-range: U+26100-275ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-27600-290FF-400.woff2) format('woff2');
  unicode-range: U+27600-290ff;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-29100-2A0DF-400.woff2) format('woff2');
  unicode-range: U+29100-2a0df;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-2A700-2B73F-400.woff2) format('woff2');
  unicode-range: U+2a700-2b73f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-2B740-2C81F-400.woff2) format('woff2');
  unicode-range: U+2b740-2c81f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-2B820-2CEAF-400.woff2) format('woff2');
  unicode-range: U+2b820-2ceaf;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-2CEB0-2EBE0-400.woff2) format('woff2');
  unicode-range: U+2ceb0-2ebe0;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-30000-3134F-400.woff2) format('woff2');
  unicode-range: U+30000-3134f;
}
@font-face {
  font-family: 'Rounded Mgen+ 1m';
  font-weight: 400;
  font-display: swap;
  src: url(RoundedMgen+1m/rounded-mgenplus-1m-regular-31350-323AF-400.woff2) format('woff2');
  unicode-range: U+31350-323af;
}
