{{if once "enable_highlight.tmpl" -}}
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/cls_chroma.css">
<link rel="stylesheet" type="text/css" href="{{html .Lib}}css/cls_chroma.css">
{{end -}}
