{{if once "enable_cat_ui.tmpl" -}}
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/cat_ui.css">
<link rel="stylesheet" type="text/css" href="{{html .Lib}}css/cat_ui.css">
{{template "jslib_d3-selection.tmpl" . -}}
{{template "jslib_d3-dsv.tmpl" . -}}
<script defer src="{{html .Lib}}js/cat_ui.js"></script>
{{end -}}
