<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_dark1.css">
<link id="dark1_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark1.css">
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_dark2.css">
<link id="dark2_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark2.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_dark3.css">
<link id="dark3_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark3.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_dark4.css">
<link id="dark4_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark4.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_light1.css">
<link id="light1_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light1.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_light2.css">
<link id="light2_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light2.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_light3.css">
<link id="light3_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light3.css" disabled>
<link rel="preload" as="style" type="text/css" href="{{html .Lib}}css/theme_light4.css">
<link id="light4_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light4.css" disabled>
