<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/NotoSansCJKjp.css">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/NotoSansCJKjp/NotoSansCJKjp-VF-00-02AF.woff2">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/NotoSerifCJKjp.css">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/NotoSerifCJKjp/NotoSerifCJKjp-VF-00-02AF.woff2">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1m-300.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1m-400.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1m-700.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1m.css">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1m/rounded-mgenplus-1m-bold-00-02AF-700.woff2">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1m/rounded-mgenplus-1m-light-00-02AF-300.woff2">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1m/rounded-mgenplus-1m-regular-00-02AF-400.woff2">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1pp-300.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1pp-400.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1pp-700.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}font/RoundedMgen+1pp.css">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1pp/rounded-mgenplus-1pp-bold-00-02AF-700.woff2">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1pp/rounded-mgenplus-1pp-light-00-02AF-300.woff2">
<link rel="preload" crossorigin as="font" type="font/woff2" href="{{html .Lib}}font/RoundedMgen+1pp/rounded-mgenplus-1pp-regular-00-02AF-400.woff2">
