<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/theme_dark1.css">
<link id="dark1_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark1.css">
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/theme_dark2.css">
<link id="dark2_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_dark2.css" disabled>
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/theme_light1.css">
<link id="light1_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light1.css" disabled>
<link rel="preload" crossorigin as="style" type="text/css" href="{{html .Lib}}css/theme_light2.css">
<link id="light2_theme" class="theme" rel="stylesheet" type="text/css" href="{{html .Lib}}css/theme_light2.css" disabled>
{{template "jslib_d3-selection.tmpl" . -}}
<script defer src="{{html .Lib}}js/theme_radio.js"></script>
