@layer theme {
  /* for normal color vision */
  :root {
    --color-schame: light;
    --base-color-fg-L: 0.25;
    --base-color-bg-L: 0.95;
    --color-chroma: 0.25;
    --base-color-a-H: 30;
    --base-color-b-H: 200;
    --base-color-c-H: 120;
  }
}
