:root {
  --color-schame: dark;
  --color-0-fg: hsl(0, 0%, 100%);
  --color-0-g1: hsl(0, 0%, 70%);
  --color-0-g2: hsl(0, 0%, 25%);
  --color-0-bg: hsl(0, 0%, 10%);

  --color-0-t0: hsla(0, 0%, 10%, 0);
  --color-0-t1: hsla(0, 0%, 10%, 0.5);
  --color-0-t2: hsla(0, 0%, 70%, 0.5);

  --color-0-a1: hsl(10, 100%, 75%);
  --color-0-a2: hsl(10, 100%, 25%);
  --color-0-b1: hsl(207, 100%, 75%);
  --color-0-b2: hsl(207, 100%, 25%);
  --color-0-c1: hsl(110, 100%, 75%);
  --color-0-c2: hsl(110, 100%, 25%);

  --color-1-fg: hsl(0, 0%, 90%);
  --color-1-g1: hsl(0, 0%, 60%);
  --color-1-g2: hsl(0, 0%, 15%);
  --color-1-bg: hsl(0, 0%, 0%);

  --color-1-t0: hsla(0, 0%, 0%, 0);
  --color-1-t1: hsla(0, 0%, 0%, 0.5);
  --color-1-t2: hsla(0, 0%, 60%, 0.5);

  --color-1-a1: hsl(10, 100%, 65%);
  --color-1-a2: hsl(10, 100%, 15%);
  --color-1-b1: hsl(207, 100%, 65%);
  --color-1-b2: hsl(207, 100%, 15%);
  --color-1-c1: hsl(110, 100%, 65%);
  --color-1-c2: hsl(110, 100%, 15%);
}
